.page .text, .page .long_text{
    background-color: #e4f2ff;
    cursor: text;
    white-space: pre;
}
.page .text{
    overflow: hidden;
    display: flex;
    align-items: center;
}
.page .long_text{
    overflow: auto;
}
.page .toggle, .page .image{
    cursor: pointer;
}
.page .image img{
    max-width: 100%;
    max-height: 100%;
}