.popup{
    position: fixed;
    background-color: white;
    border: thin solid lightgray;
    box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.75);
    white-space: nowrap;
    z-index: 1;
}
.context_menu{
    padding: 4px 0;
    margin: 0;
    list-style-type: none;
    font-size: 12px;
    min-width: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.context_menu li{
    padding: 4px 0;
    cursor: default;
}
.context_menu li.disabled{
    color: lightgray;
}
.context_menu li.separator{
    color: #bababa;
    border-bottom: thin solid lightgray;
    padding: 4px 10px;
    margin-bottom: 5px;
}
.context_menu li:hover:not(.disabled){
    background-color: #e3e3e3;
}
.context_menu li>*, .context_menu li .right_content>*{
    display: inline-block;
}
.context_menu li .item_icon, .context_menu li .item_action{
    width: 20px;
    margin: 0 2px;
}
.context_menu li .right_content{
    float: right;
}
.context_menu li .item_icon svg, .context_menu li .item_action svg{
    display: block;
    margin: 1px auto;
    height: 12px;
}