/**
 * This file contains styling specific to printing to ensure that all pages will be printed in a readable manner.
 */
@media print{
    .nav{
        display: none;
    }
    .page{
        display: block !important;
        border: none;
    }
    .center{
        width: 800px;
    }
    .page .text, .page .long_text{
        background-color: transparent;
    }
}